.stepper-open-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stepper-container {
  background-color: #f7f5f5;
  border-radius: 12px;
  top: 15vh;
}

.stepper-container .center-header {
  text-align: center;
}

button {
  margin: 6px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.stepper-container {
  height: auto;
  width: 80%;
  position: relative;
  margin: auto auto;
}

.step-group {
  display: block;
  text-align: center;
  position: relative;
  height: 200px;
  padding: 15px;
}

.radio-btn {
  margin: 5px;
}

::ng-deep .mat-horizontal-content-container {
  height: inherit;
  padding: 0 !important;

}

.nextBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.sum-container {
  text-align: right;
  margin-right: 15px;
}

.step-btn-group {
  position: relative;
  margin: 15px;
  text-align: right;
}

.contact-form {
  width: 80%;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
}

.form-field {
  display: block;
}

.dataOverview {
  display: block;
  text-align: center;
  position: relative;
  padding: 15px;
}

.top-text {
  width: 90%;
  margin: auto;
  text-align: left;
}

.success-class {
  color: #06aa00;
}

.error-class {
  color: #ff0202;
}

.email-error {
  color: #ff0202;
  text-align: left;
}

.block-container {
  display: flex;
  margin-top: 20px;
}

.left-block {
  flex: 0 0 50%;
}

.right-block {
  flex: 1;
}

.right-block li {
  list-style: none;
}

.bottom-block {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dataOverview h3 {
  display: inline-block;
  margin-right: 4px;
}

.dataOverview .edit-btn {
  font-size: 1.17em;
}

.dataOverview table {
  margin: auto;
  text-align: left;
}

.dataOverview table td {
  margin: 15px;
}