 <mat-horizontal-stepper linear>
    <mat-step [stepControl]="formGroup1" >
      <form [formGroup]="formGroup1">
        <ng-template matStepLabel>Korak 1. Odaberite proizvođača vašeg vozila</ng-template>
        <mat-radio-group formControlName="firstCtrl" required>
            <mat-radio-button class="radio-btm" color="primary" value="{{item.name}}" *ngFor="let item of carArray" (change)="getSelectedRadio($event)" >{{item.name}}</mat-radio-button>
          </mat-radio-group>
        <div>
          <button mat-raised-button matStepperNext color="primary">Dalje</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="formGroup2" >
        <form [formGroup]="formGroup2">
          <ng-template matStepLabel>Korak 2. Odaberite jednu ili više usluga za koje ste</ng-template>
          <div class="checkbox-selectors">
            <mat-checkbox (change)="checkCheckBoxvalue($event)" color="primary" class="checkbox-btn" *ngFor="let item of serviceArray" value="{{item.price}}" name="{{item.name}}" formControlName="secondCtrl" required>{{item.name}} ({{item.price}} kn)</mat-checkbox>
          </div>
          <div class="suma">
              <div class="coupon" *ngIf="!isCouponDisplayed">
                <button mat-button color="primary" (click)="diplayCoupon()">Imam kupon</button>
              </div>
              <div class="coupon-input" *ngIf="isCouponDisplayed">
                <form (submit)="validateCoupon()">
                    <input [(ngModel)]="couponValue" name="couponValue">
                    <button mat-raised-button type="submit" color="primary">Primjeni</button>
                 </form>
              </div>
              <p>{{couponMsg}}</p>
              <div class="couponMessage" *ngIf="isCouponValid">
                <h4>OSNOVICA: {{serviceSum}} KN</h4>
                <h4>Popust (30%): -{{serviceDiscount}}KN</h4>
              </div>
            <h3 *ngIf="serviceSumDiscounted != null">Ukupno: {{serviceSumDiscounted | number:'1.2-2' }} KN</h3>
          </div>
          <div>
            <button mat-raised-button matStepperPrevious color="primary">Nazad</button>
            <button mat-raised-button matStepperNext color="primary">Dalje</button>
          </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="formGroup3" >
        <form [formGroup]="formGroup3" (submit)="saveContactData()">
            <ng-template matStepLabel>Korak 3. Vaši kontakt podaci</ng-template>
            <mat-form-field class="form-field">
                <mat-label>Ime i prezime</mat-label>
                <input matInput required formControlName="nameCtrl"  name="name">
            </mat-form-field>
            <br>
            <mat-form-field class="form-field">
                <mat-label>Email adresa</mat-label>
                <input type="email" matInput required formControlName="emailCtrl"  name="email">
            </mat-form-field>
            <br>
            <mat-form-field class="form-field">
                <mat-label>Broj telefona</mat-label>
                <input type="number" matInput required formControlName="phoneCtrl"  name="phone">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
              <mat-label>Napomena (opcionalno)</mat-label>
              <input type="text" matInput formControlName="messageCtrl" name="message">
            </mat-form-field>
            <div>
                <button mat-raised-button matStepperPrevious color="primary">Nazad</button>
                <button mat-raised-button matStepperNext color="primary" type="submit">Dalje</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <div class="dataOverview">
            <p>Molimo vas da još jednom pregledate i potvrdite unesene podatke. Ukoliko želite promijeniti neki od podataka, možete pritisnuti
               gumb za uređivanje pored svake od kategorija. Kada ste provjerili i potvrdili ispravnost svojih podataka pristisnite gumb pošalji na dnu, 
               za slanje upita za servis.
            </p>
            <div class="block">
              <h2>MODEL VOZILA</h2>
              <button mat-raised-button color="primary">Uredi</button>
              <h4>{{selectedModel}}</h4>
            </div>
            <div class="block">
              <h2>ODABRANE USLUGE</h2>
              <button mat-raised-button color="primary">Uredi</button>
              <ul>
                <li *ngFor="let item of selectedServicesArray">{{item.name}} {{item.price}}KN</li>
                <br>
                <li *ngIf="isCouponValid">Popust (30%): -{{serviceDiscount}}KN</li>
                <li>Ukupno: {{serviceSumDiscounted | number:'1.2-2' }} KN</li>
              </ul>
            </div>
            <hr>
            <div class="bottomBlock">
              <h2>KONTAKT PODACI</h2>
              <button mat-raised-button color="primary">Uredi</button>
              <table>
                <tr>
                  <td>Ime i prezime: {{nameValue}}</td>
                  <td>Broj telefona: {{phoneValue}}</td>
                </tr>
                <tr>
                  <td>Email adresa:{{emailValue}}</td>
                  <td>Napomena: {{messageValue}}</td>
                </tr>
              </table>
            </div>
            <hr>
            <button mat-raised-button matStepperPrevious color="primary">Nazad</button>
            <button mat-raised-button matStepperNext color="primary">Pošalji</button>
        </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <h4>Vaša prijava je uspješno poslana</h4>
      <p>Vaša prijava je uspješno poslana i zaprimljena. Kontaktirati ćemo vas u najkraćem mogućem roku. Hvala vam.</p>
      <div>
        <button mat-raised-button color="warn">Zatvori</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>